*{
    margin: 0;
    padding: 0;
    
}

                            /*Naveber*/

                        #nav{
                            
                            border-radius: 5px;
                        }

                        .navbar-brand{
                            width: 250px;
                            margin-left: 20px;

                        }

                        .container-fluid{
                        
                        }
                        #navbarSupportedContent ul{
                            margin-left: 50px;
                        }

                        #navbarSupportedContent ul li{
                            margin-left: 30px;

                        
                        }
                        #navbarSupportedContent ul li a{
                            font-size: 20px;
                            font-family: 'Noto Serif', serif;
                        }

                        #navbarSupportedContent ul li a:hover{
                        color: red;
                            font-size: 22px;
                        }






/*Naveber*/

#slider{
    margin-bottom: 70px;
}

.carousel-item img{
    border-radius: 50px;
}







                                /*available products*/


                                .col-md-4 img{
                                    width: 70px;
                                    height: 70px;
                                    margin-right: 40px;    
                                }

                                .shirt{
                                    background-color: pink;
                                    padding: 20px;
                                    

                                }
                                .mobile{
                                    background-color: bisque;
                                    padding: 20px;
                                }
                                .watch{
                                    background-color: aquamarine;
                                    padding: 20px;
                                }

                                .shirt , .mobile , .watch{
                                    border-radius: 25px;
                                    background: linear-gradient(rgb(161, 129, 129),rgb(255, 255, 255));
                                    font-family:serif ;
                                }


                           
                                .A-P{
                                    font-family: serif;
                                    margin-bottom: 50px;
                                }
                                .watch:hover{
                                    box-shadow: 5px 5px 10px dimgray;
                                    transition: all 0.5s;
                                }

                                .shirt:hover{
                                    box-shadow: 5px 5px 10px dimgray;
                                    transition: all 0.5s;
                                }

                                .mobile:hover{
                                    box-shadow: 5px 5px 10px dimgray;
                                    transition: all 0.5s;
                                }







        /*products-card*/



        .cards{
            width: 250px !important;
            text-align: center;
            border-radius: 10px;
            box-shadow: 3px 3px 15px dimgray;

        }

            
        .shirts h3{
            margin-top: 30px;
            margin-bottom: 30px;
            font-family: serif;
        }

        .cards a{
            text-decoration: none;
            color: black;
        }


        .cards:hover{
            box-shadow: 10px 10px 15px dimgray;
            transition: all 0.3s;

        }
        .card-img img{
            width: 200px;
            height: 200px;
        }


        .cards h2{
            color: orangered;

        }


        .container h3{
            color: orangered;
        }



        .card-text button{
            padding:5px 10px 5px 10px ;
            border: 1px solid rgb(206, 206, 206);
            background: transparent;
            border-radius: 10px;
            background-color: skyblue;
            color: black;
            font-family: serif;
            margin-bottom: 10px;
            font-size: small;

        }


        .card-text button:hover{
            background-color: chocolate;
            color: aliceblue;
            transition: all 0.5s;
            
        }

        .cards p{
            font-family:serif ;
            font-size:large ;
            color: dimgray;
        }
















/*FOOTER*/




#footer{
    background-color: orchid;
    margin-top: 20px;
    padding: 200px; 
}

.footer {
   
    display: flex;
    justify-content: center;
    
}

.hello img{
    width: 200px ;
    height: 200px;
}

.hello{
    width: 20%;
    border: 2px solid red;
}


.footer-bizan{
    margin-left: 20px;
    color: #00b894;
    font-family: 'Rubik Wet Paint', cursive !important;
    font-size: 40px !important;
    text-align: center;
    margin-top: 20px;
}

.footer-bizan span{
    color: #e84393;
}

.footer h2, h4,h5,p{
    font-family: serif;
    color: azure;
    text-align: center;
    color: #7f8fa6;
    margin-top: 20px;
}
.footer{
    align-items: center;
    background-color: #2c3e50;
    margin-top: 100px;
    
}


.footer span{
    color: #e84393;
}
.footer input{
    color: #e84393;
    text-align: center;
}

#icons{
    margin-top: 30px;
    font-size: 40px;
}

.email{
    margin-top: 50px;
    color: dimgray;
}









                                    @media screen and (max-width:500px) {
                                            .navbar-brand{
                                                width: 150px;
                                                margin-left: 10px;
                                            
                                            }

                                            .shirt , .mobile , .watch{
                                                margin-bottom: 20px;
                                                border-radius: 25px;
                                                background: linear-gradient(rgb(161, 129, 129),rgb(255, 255, 255));
                                                font-family:serif ;
                                            }

                                            .cards{
                                                margin-top: 40px !important;
                                                text-align: center; 
                                                margin-left: 40px;
                    
                                            }

                                            


                                        
                                        }
    


